In [1]:
import os
import numpy as np
import pandas as pd
os.chdir("../")
from src.data import getDataset, ProcessData, RawFeatures

In [2]:
df_transaction = getDataset()

In [3]:
df_transaction.head()

   Customer ID     InvoiceDate  Price  Quantity
0      13085.0  1/12/2009 7:45   6.95      12.0
1      13085.0  1/12/2009 7:45   6.75      12.0
2      13085.0  1/12/2009 7:45   6.75      12.0
3      13085.0  1/12/2009 7:45   2.10      48.0
4      13085.0  1/12/2009 7:45   1.25      24.0

In [4]:
df_transaction.columns

Index(['Customer ID', 'InvoiceDate', 'Price', 'Quantity'], dtype='object')

In [5]:
df_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981331 entries, 0 to 981330
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Customer ID  741301 non-null  float64
 1   InvoiceDate  981330 non-null  object
 2   Price        981330 non-null  float64
 3   Quantity     981330 non-null  float64
dtypes: float64(3), object(1)
memory usage: 29.9+ MB

In [6]:
ProcessData(df_transaction).processing_stack()

             frequency  recency      T  monetary_value
Customer ID
12346.0            7.0    400.0  726.0    11066.637143
12745.0            1.0    147.0  575.0      266.930000
12747.0           25.0    858.0  881.0      355.835600
12748.0          202.0    967.0  972.0      279.101436
12749.0            6.0    555.0  578.0     1020.433333
...                ...      ...    ...             ...
18281.0            1.0    396.0  400.0       80.820000
18282.0            1.0     85.0  301.0      100.210000
18283.0           18.0    665.0  675.0      145.996111
18286.0            1.0    247.0  724.0      833.480000
18287.0            5.0    572.0  572.0      622.276000

[3820 rows x 4 columns]